*{
	font-family:arial;
}
body{
	background-color: #b0c858;
}
#idSection1{
	background-color: #ff9f79;

}
#idArticle1_1{
	background-color: #ff9f79;
}
#idArticle1_2{
	background-color: #c39c51;
}
#idSection2{
	background-color: #c07651;
}
#idSection3{
	background-color: #c39c51;
}
#idSection4{
	background-color: #99f997;
}
li{
	display: inline;
}
#idLupa{
	width:20px;
	height:20px;
}
#idLogo{
	width:130px;
	height:40px;
}
nav li{
	margin-left:10px;
	margin-right:10px;
}
a{
	color:#3c6f0b;
}
#idImgManuel{
	width:40px;
	height:40px;
}
#idImgNicolas{
	width:40px;
	height:40px;
}
.cont{
	display:flex;
	align-items: center;
}
.nombre{
	margin-left:10px;
}
#idBotonReclamo{
	display: block;
	margin: 0 auto;
	margin-bottom:10px;
	border-radius:19px;
	padding:15px 20px 15px 20px;
	font-size:23px;
	background-image: linear-gradient(to bottom, #aec252, #c17651);
}
.reclamo{
	margin: 0 100px;
	background-color: white;
	border: solid 3px black;
	border-radius: 20px;
	padding: 5px 0 10px 276px;
}
.comentUsuario{
	background-color: #ff9f79;
}

.nombreEmpresa{
	background-color: #33cb31;
}

#idEstadisticas {
	text-align: center;
}

#idTablaEstadisticas {
	border: solid 3px black;
	border-radius: 10px;
	background-color: white;
}
#idTablaEstadisticas td, #idTablaEstadisticas th {
	border: solid 3px black;
}
#idArticle3_1{
	float:center;
}